/*
App.css
Colors:
  Yellow: #fff22d
  Red: #ec0c0c
  White: #ffffff
  Gray: #282c34
  Black: #000000
*/

/*
@font-face {
    font-family: 'Jurassic Park'; a name to be used later
    src: "" URL to font
}
*/
body {
  margin: 0;
  padding: 0;
  background: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapertag.com%2Fwallpaper%2Ffull%2Ff%2F5%2F6%2F464396-top-amazon-rainforest-wallpaper-2560x1600-for-windows.jpg&f=1&nofb=1&ipt=df112482fdf5727179e2384bfe75d50bdece5dd559bdd2a739cf7d7f9455ee25https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapertag.com%2Fwallpaper%2Ffull%2Ff%2F5%2F6%2F464396-top-amazon-rainforest-wallpaper-2560x1600-for-windows.jpg&f=1&nofb=1&ipt=df112482fdf5727179e2384bfe75d50bdece5dd559bdd2a739cf7d7f9455ee25') no-repeat center;
  color: white;
  font-family: 'Jurassic Park', sans-serif; /* Assuming the font is loaded */
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 80px;
  pointer-events: none;
  float: left;
}

.title {
  color: #fff22d;
  font-weight: bold;
  font-family: 'Jurassic Park', sans-serif; /* Assuming the font is loaded */
  font-size: 2rem;
  margin-left: 10px;
  padding: 10px;
  align-items: center;
  float: right;
}

.spacer {
  align-items: center;
  color: #ec0c0c;
}

nav {
  padding: 10px;
  border-radius: 0 0 15px 15px;
}

.card {
  background-color: #282c34ee;
  color: white;
  padding: 50px;
  margin: 35px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  min-height: 75vh;
}

.content {
  max-width: 92.5vw;
}

.paragraph {
  color: #ffffff;
  text-align: justify;
  text-justify: inter-word;
  font-size: 1.1rem;
  line-height: 1.6;
  margin-left: 40px;
  margin-right: 40px;
}

.display-container {
  padding-left: 50px;
  float: right;
}

.portrait {
  width: 30vh;
  height: auto;
  display: inline;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-slim {
  background-color: #282c34ee;
  color: white;
  padding: 50px;
  margin: 35px;
  margin-left: 30vw;
  max-width: 40vw;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  min-height: 75vh;
}

.confirm-button {
  position: relative;
  background-color: #ec0c0c;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

.signup{
  display: flex;
  text-align: right;
}

/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/